

body {
    background-image: url("../images/1200px-Good_Food_Display_-_NCI_Visuals_Online1.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    width: 90%;
    align-self: auto;
}

.button-section {
    background-color: orange;
    border: solid orangered;
    border-radius: 2px;
    margin: 5px;
}

#add-food {
background-color: orange;
border: solid orangered;
border-radius: 2px;
margin: 5px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}